<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kui.com.greenkiondo">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_gk_logo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_gk_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NavActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
        <activity android:name=".Home" />
        <!--
            <activity
            android:name=".NavActivity"
            android:label="Home"
            android:theme="@style/AppTheme.NoActionBar" />
        -->
        <activity android:name=".BreakfastActivity" />
        <activity android:name=".Dinner_LunchActivity" />
        <activity android:name=".DessertActivity" />
        <activity android:name=".DrinkActivity" />
        <activity android:name=".Beef_ChickenActivity" />
        <activity android:name=".SeafoodActivity" />
        <activity android:name=".PastaActivity" />
        <activity android:name=".VegeterianActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA58mQcrFAUoV6jRKMVLNBx4p8plTLF8qM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".RecipeDetailActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MyKiondoActivity"/>
        <activity android:name=".PickLocation"/>
        <activity android:name=".Instructions"/>
        <activity android:name=".Final">
        </activity>
    </application>

</manifest>